* {box-sizing: border-box}
body{
background-color: #f6f5f5;
margin: 0px;
padding: 0px;
}
ul{
list-style:none;
}
a{
text-decoration: none;
}
section{
width: 100%;
height: 135vh;
background-image: url(header.png);
background-repeat: no-repeat;
background-size: cover;
position: relative;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.52);
}
nav{
display: flex;
justify-content: space-between;
align-items: center;
height: 50px;
background-color: #ffffff;
box-shadow: 2px 2px 13px rgba(0, 0, 0, 2);
padding: 0px 5%;
}
nav a span{
    color: rgb(240, 115, 13);
    font-family: Brush Script MT;
} 
nav ul{
display: flex;
}
nav ul li a{
margin: 30px;
font-family: myriad pro regular;
color: #505055;
font-size: 17px;
font-weight: 700;
cursor: pointer;
}
nav a:hover{
color: #000000;
}
.logo{
font-family: Brush Script MT;
color: #000000;
font-size: 22px;
}
.active{
font-weight: bold;
color: #2d2a2a;
}
.fawaz{
    position: relative;
    width: 200px;
    height: 300px;
}
.hoppy{
    width: 50%;
    height: 40%;
    position: relative;
    left: 30%;
}
table .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
p {
    font-family: cursive;
    color: #000000 ;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    
    }
    .text{
        padding-top: 10%;
    }
    
    p{
        font-size: large;
        font-family:sans-serif;
    }
    footer{
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.52);
    
    }
    .social-icons a{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e6e3e3;
        margin: 20px 10px;
        border-radius: 50%;
    }
    .social-icons{
        display: flex;
    }
    .social-icons i{
        color: #000000;
    }
    .social-icons a:hover{
        background-color: #000000;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        transition: all ease 0.4s;
    }
    .social-icons a:hover i{
        color: #ffffff;
        transition: all ease;
    }
    .copyright{
        color:#565555;
        font-size: 15px;
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        font-family: calibri;
    }
    @media(max-width:1000px){
        *{
            box-sizing: border-box;
        }
    }
    @media(max-width:750px){
        section{
            background-image: none;
            background-color: #f7f7f7;
        }
        table.container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        nav ul{
            margin: 0px;
            padding: 0px;
            background-color: #ebeef4;
            flex-direction: column;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            display: none;
        }
        nav ul li{
            padding: 10px;
        }
        nav ul li a{
            font-family: calibri;
            font-size: 1.4em;
            text-transform: uppercase;
            color: #5c5c5c;
        }
        nav ul li a:hover{
            color: #121212;
        }
        .toggle:before{
            content: '\f0c9';
            font-family: fontAwesome;
            line-height: 30px;
            z-index: 1;
        }
        .toggle.active:before{
            content: '\f00d';
            position: fixed;
            right: 25x;
            line-height: 0px;
    
        }
        nav.active ul{
            display: flex !important;
        }
        p {
            font-size: 11px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
        }
        section{
            height: 600px;
            flex-direction: column;
            overflow: hidden;
            align-items: center;
            justify-content: center;
        }
        .fawaz{
            position: relative;
            width: 150px;
            height: 200px;
        }
        .hoppy{
            width: 150px;
            height: 200px;
            position: relative;
        }
    }