/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
   
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media (max-width: 600px) {
    body {
      background-color: olive;
    }
    .tab{
      position: relative;
      justify-content: center;
      flex-direction: column;
      align-items: center;
       left:2% ;
       bottom: -40px;
       background-color: #df230a;
    
   }
   input{
     width: 30px;
     height:-8px;
     font-size: 10px;
     font-weight: bold;
     color: #ffffff;
     background-color: #383735;
     border-radius: 12px 12px;
     border: none;
 }
 .screen{
   width: 200px;
   height: 30px;
   background-color: #3837358f;

}
  }
input{
    width: 80px;
    height:90px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #383735;
    border-radius: 12px 12px;
    border: none;
}
input:hover{
    background-color: #ffffff;
    border:2px solid #e46a19;
    color:#383735 ;
}
.tab{
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 2);
    position: relative;
    left:32% ;
    bottom: -40px;
    background-color: #f8a808;
    border-radius: 8px 8px;
 
}
.screen{
    width: 412px;
    height: 60px;
    background-color: #3837358f;

}
h1, p{
    text-align: center;
}
@media(max-width:750px){
    section{
        background-image: none;
        background-color: #f7f7f7;
    }

    nav ul{
        margin: 0px;
        padding: 0px;
        background-color: #ebeef4;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        display: none;
    }
    nav ul li{
        padding: 10px;
    }
    nav ul li a{
        font-family: calibri;
        font-size: 1.4em;
        text-transform: uppercase;
        color: #5c5c5c;
    }
    nav ul li a:hover{
        color: #121212;
    }
    .toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
        z-index: 1;
    }
    .toggle.active:before{
        content: '\f00d';
        position: fixed;
        right: 25x;
        line-height: 0px;

    }
    nav.active ul{
        display: flex !important;
    }
    
  }